<!DOCTYPE html>
<html>
  <head>
    <title><%= action %> Records</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= action %> Records </h1>
    <%- include('nav'); %>

    <h3>Action <%= action %> completed successfully.</h3>
    <p>Private URL: <%= record %> </p>
    <% if (typeof content != 'undefined') { %>
    <div id="container" style="width:100%;">                                   
  		 
        <p> Record's content: </p>
  	    <textarea style="width:1200px;height:500px;font-size:14px">
            <%= content %>     
  		</textarea> 
  	    
      </div>
    <% } %>
  </body>
</html>