<!DOCTYPE html>
<html>
  <head>
    <title>Records list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Records to <%= action %> </h1>
		<%- include('nav'); %>
		
<div id="container" style="width:100%;">     
   	  		<% if (records.length > 0) { %>  
					 <% if (action == 'delete') { %>
<p style="background-color:white; font-size:160%;color:tomato ">Select record file to delete: (Cannot be undone)!</p>
						<% } %>	
<div id="left" style="float:left; width:90%"> 
						<p>Listing <%= records.length %> records:</p>	
			<% var listKyes = Object.keys(records[0]) ; %>
<label>index</label>	
		  	<% for (var i in listKyes) { %>	  
<label class="listKeys"><%= listKyes[i] %></label>
		  	<% } %>	
		  	<% for (var i in records) { %>
<p><%= i %>: <a href="/<%= action %>/records/<%= records[i].name %>"><%= JSON.stringify(Object.values(records[i])) %></a> </p>
 			<% }  %>     			
 			<% } else { %>
 			<p> No records found ... check console log for more information.</p> 
 			<% }  %>
</div>  
</div>  
  </body>
</html>